{% extends 'base2.html' %}

{% block profile %}
<section class="text-gray-600 body-font">
<div class="container px-5 py-10 mx-auto flex flex-col">
<div class="lg:w-4/6 mx-auto">
    <div class="flex flex-col sm:flex-row mt-10">
    <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
            <div class="w-30 h-30 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-300">
                <img class="rounded-full" src="{{ profile.avatar_url }}" alt="user-image" />
            </svg>
            </div>
            <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-200 text-lg"><span>{{ profile.login }}</span></h2>
            <div class="w-12 h-1 bg-green-500 rounded mt-2 mb-4"></div>
            </div>
    </div>
    <div class="sm:w-2/3 sm:pl-8 sm:py-8 sm:border-l text-gray-300 border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
            <div class="w-12 h-1 bg-green-500 rounded mt-2 mb-4"></div>
            <div class="mb-2 text-lg leading-relaxed" >
                <label class="leading-relaxed text-lg mb-4">Name:</label> <span>{{ profile.login }}</span>
            </div>
            <div class="mb-2 text-lg leading-relaxed" >
                <label class="leading-relaxed text-lg mb-4">Location:</label> <span>{{ profile.location }}</span>
            </div>
            <div class="mb-2 text-lg leading-relaxed" >
            <label class="leading-relaxed text-lg mb-4">Blog:</label> <span>
                {% if profile.blog != '' %}
                <a href={{ profile.blog }} target="_blank">Link</a>
                {% else %}
                -
                {% endif %}
            </span>
            </div>

            <div class="mb-2 text-lg leading-relaxed" >
            <label class="leading-relaxed text-lg mb-4">Member since: </label><span>{{ date }}</span>
            </div>

            <div class="mb-2 text-lg leading-relaxed" >
            <label class="leading-relaxed text-lg mb-4">Bio:</label>
                <span>
                {% if profile.bio != None %}
                    {{ profile.bio }}
                {% else %}
                    -
                {% endif %}
                </span>
            
            </div>
            <div class="w-12 h-1 bg-green-500 rounded mt-4 mb-4"></div>
    </div>
    </div>
</div>
</div>
</section>
{% endblock %}



